#container {
    color: black;
}
body {
    font-family: arial;
    font-size: .75em;
}

/* unvisited link */
a:link {
    color: #4078c0;
}

/* visited link */
a:visited {
    color: #4078c0;
}

/* mouse over link */
a:hover {
    color: #4078c0;
}

/* Presently selected */
a:active {
    color: #4078c0;
}

img {
    border-width: 0;
}
.clear {
    clear: both;
}
/* Compatibility Check */

@media(all and min-width 700px){
    #container {
        width: 770px;
        margin: 0 auto;
    }
    #left {
        float: left;
        width: 200px;
        height: 100%;
        position: fixed;
    }
    #right {
        width: 500px;
        float: right;
    }
}
@media(all and max-width 699px){
    #content {
        width: 95%;
        margin: 0 auto;
    }
    #right {
        width: inherit;
    }
    #left {
        width: inherit;
    }
    img {
        max-width: inherit;
    }
}
