#container {
  color: black;
}
body {
  padding-right: 14px margin: 0;
  padding: 20px;
  font-family: arial;
  font-size: 0.75em;
  color: black;
}

#right {
  padding-top: 2em;
}

/* unvisited link */
a:link {
  color: #4078c0;
}
/* visited link */
a:visited {
  color: #4078c0;
}
/* mouse over link */
a:hover {
  color: #4078c0;
}

img {
  border-width: 0px;
  max-width: 100%;
}
.clear {
    clear: both;
}
/* Compatibilty Check */

@media all and (min-width: 700px) {
  #container {
    width: 770px;
    margin: 0 auto;
  }
  #left {
    float: left;
    width: 200px;
    height: 100%;
    position: fixed;
  }
  #right {
    width: 500px;
    float: right;
  }
}
@media all and (max-width: 699px) {
  #right, #content, #left {
      width: inherit;
  }
  .nav li{
    display:inline;
  }
}
