#container {
    color: #000;
}
body {
    padding-right: 14px margin: 0;
    padding: 20px;
    font-family: arial;
    font-size: .75em;
    color: #000;
}
a:link {
    color: #4078c0;
}
/* unvisited link */

a:visited {
    color: #4078c0;
}
/* visited link */

a:hover {
    color: #4078c0;
}
/* mouse over link */

a:active {
    color: #4078c0;
}
img {
    border-width: 0;
}
.clear {
    clear: both;
}
/* Compatibility Check */

@media all and min-width 700px {
    #container {
        width: 770px;
        margin: 0 auto;
    }
    #left {
        float: left;
        width: 200px;
        height: 100%;
        position: fixed;
    }
    #right {
        width: 500px;
        float: right;
    }
}
@media all and max-width 699px {
    #content {
        width: 95%;
        margin: 0 auto;
    }
    #right {
        width: inherit;
    }
    #left {
        width: inherit;
    }
    img {
        max-width: inherit;
    }
}
